.formulaireDevis .btn {
    padding: 0.5em 1.25em;
    font-size: 1.1em;
    border: solid black 2px;
    background-color: white;
    cursor: pointer;
    border-radius: 0;
    text-transform: uppercase;
    transition: 0.5s;
    /* center the text vertically */
    line-height: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.formulaireDevis .btn-black {
    background-color: black;
    color: white;
}

.formulaireDevis .btn-black:hover {
    background-color: #222;
    color: white;
    border-color: #222;
}

.formulaireDevis .btn-red {
    background-color: red;
    border-color: red;
    color: white;
}

.formulaireDevis .btn-red:hover {
    background-color: #dd0000;
    color: white;
    border-color: #dd0000;
}


.formulaireDevis .btn-h-black:hover {
    background-color: black;
    color: white;
}

.formulaireDevis .btn-h-red:hover {
    background-color: red;
    color: white;
    border-color: red;
}

.formulaireDevis .btn-h:hover {
    transform: scale(1.05);
}

.formulaireDevis .right {
    /* make this element on the right of the div */
    display: block;
    margin-left: auto;
}

.formulaireDevis .center {
    /* make this element in the center of the div */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formulaireDevis .addProjectBtnContainer {
    margin: 2em 0;
}

.formulaireDevis .fieldInputTextarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulaireDevis .fieldInputTextarea label {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.formulaireDevis .fieldInputTextarea textarea {
    width: 100%;
    max-width: 600px;
    padding: 0.5em;
    border: solid black 2px;
    font-size: 1.5em;
    border-radius: 0;
}