form {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-bottom: 0.2em;
    border-bottom: dotted black 1px;
}

.btn {
    padding: 0.7em 1.5em;
    font-size: 1em;
    border: solid black 2px;
    background-color: white;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.inputField input[type="text"],
.inputField input[type="email"],
.inputField select,
.inputField input[type="tel"] {
    padding: 0.5em 1em;
    border: solid black 2px;
    font-size: 1em;
    border-radius: 0;
}

.inputField input[type="text"]:focus,
.inputField input[type="email"]:focus,
.inputField input[type="tel"]:focus {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    outline: none;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1.7em;
}

.sectionIdentite .sectionGroupName {
    display: flex;
    gap: 1em;
}

.sectionGroupName .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.sectionGroupAddress {
    display: flex;
    gap: 1em;
}

.sectionGroupAddress .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionGroupContact {
    display: flex;
    gap: 1em;
}
.sectionGroupContact .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
}


label {
    margin-bottom: 0.3em;
    font-size: 1.1em;
}

