/* teporaire */

body {
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}



form {
    font-family: 'Montserrat', sans-serif;
    /* max-width: 1080px;
    padding-left: 2em;
    padding-right: 2em; */
    width: 90%;
    max-width: 1080px;
}

h2 {
    padding-bottom: 0.2em;
    border-bottom: dotted black 1px;
}



.inputField input[type="text"],
.inputField input[type="email"],
.inputField select,
.inputField input[type="tel"] {
    padding: 0.4em 0.8em;
    border: solid black 2px;
    font-size: 1em;
    border-radius: 0;
}

.inputField input[type="text"]:focus,
.inputField input[type="email"]:focus,
.inputField input[type="tel"]:focus {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    outline: none;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1.7em;
}

.sectionIdentite .sectionGroupName {
    display: flex;
    gap: 1em;
}

.sectionGroupName .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.sectionGroupAddress {
    display: flex;
    gap: 1em;
}

.sectionGroupAddress .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionGroupContact {
    display: flex;
    gap: 1em;
}
.sectionGroupContact .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
}


label {
    margin-bottom: 0.3em;
    font-size: 1.1em;
}