@import url("form.css");
@import url("fileInput.css");
@import url("btn.css");
@import url("outputModel.css");
@import url("ralStandard.css");
@import url("modal.css");

.formulaireDevis .hidden {
    display: none;
}

.formulaireDevis div.project {
    border-bottom: solid black 2px;
    margin: 1em 0;
    padding: 1em 0;
}



.formulaireDevis .sectionCGU .inputField input,
.formulaireDevis .sectionSondage .inputField input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
}

.formulaireDevis .sectionCGU .inputField label,
.formulaireDevis .sectionSondage .inputField label {
    margin: 0px;
    display: flex;
    align-items: center;
}

.formulaireDevis .sectionCGU .inputField,
.formulaireDevis .sectionSondage .inputField {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.formulaireDevis .sectionCGU .inputField label,
.formulaireDevis .sectionSondage .inputField label {
    cursor: pointer;
    user-select: none;
}


.formulaireDevis .sectionA {
    display: none;
}


.formulaireDevis .projectDelete {
    animation: projectDelete 1s ease-in-out forwards;
}

@keyframes projectDelete {
    0% {
        max-height: var(--project-height);
    }
    80% {
        padding: 0%;
        margin: 0%;
        opacity: 1;
    }
    100% {
        max-height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
    }
}