.formulaireDevis .modalDevis {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat', sans-serif;
}

.formulaireDevis .modalDevis .modalContent {
    position: relative;
    background: white;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    height: fit-content;
    transition: height 0.5s ease-in-out;
}

.formulaireDevis .modalDevis h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    margin: 0.5em auto 0 auto;
}

.formulaireDevis .modalDevis .modalHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.formulaireDevis .modalDevis .modal-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


.formulaireDevis .modalDevis .closeModal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5em;
    right: 0.5em;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #666;
    z-index: 1;
    width: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 3em;
    font-weight: bold;
}

.formulaireDevis .modalDevis .closeModal:hover {
    color: #000;
    font-weight: bolder;
}

.formulaireDevis .modalDevis .modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2em;
    padding-top: 0;
    gap: 0.5em;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.formulaireDevis .modalDevis .modal-body div {
    max-width: 536px;
}
.formulaireDevis .modalDevis .modal-body div.projectItemContent {
    max-width: none;
}

.formulaireDevis .modalDevis .modal-body::-webkit-scrollbar {
    display: none;
}

.formulaireDevis .modalDevis .colorItem {
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    height: 25px;
    width: 100%;
    gap: 0.2em;
    background-color: #f0f0f0;
    padding: 1em;
    cursor: pointer;
    border-radius: 5em;
}

.formulaireDevis .modalDevis .colorItem:hover {
    background-color: #e0e0e0;
}

.formulaireDevis .modalDevis span.colorSample {
    display: inline-block;
    height: 25px;
    width: 100%;
    border-radius: 5em;

}

.formulaireDevis .modalDevis .colorName {
    display: inline-block;
    align-self: center;
    text-align: center;
    font-weight: bold;
}

.formulaireDevis .modalDevis .colorRal {
    display: inline-block;
    align-self: center;
    text-align: start;
}

.formulaireDevis .modalDevis .modal-title h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}








/* models ------------------------------------------------------------------------- */

.formulaireDevis .modalModel .modal-body {
    width: 100%;
}

.formulaireDevis .modalDevis .modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 0;
    gap: 0.5em;
    align-items: center;
}

.formulaireDevis .modalDevis .modelItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 1em;
    width: 100%;
}

.formulaireDevis .modalDevis .modelItem img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    transition: 0.8s ease;
}

.formulaireDevis .modalDevis .modelItem:hover img {
    transform: scale(1.1);
}

.formulaireDevis .modalDevis .modelImageContainer {
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
}
.formulaireDevis .modalDevis .modelName {
    margin-top: 0.5em;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}


/* Loader */
.formulaireDevis .modalDevis .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
}

.formulaireDevis .modalDevis .loader img {
    width: 50px;
    height: 50px;
    /* mettre en noir tout ce qui n'est pas transparent */
    filter: brightness(0%);
}

.formulaireDevis .modalDevis .filterContainer {
    display: flex;
    /* display: grid; */
    gap: 0.5em;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.formulaireDevis .modalDevis .modalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaireDevis .modalDevis .filterButton {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5em;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 0.8em;
    white-space: nowrap;
    flex: 1 1 0;
    min-width: max-content;
}

.formulaireDevis .modalDevis .filterButton:hover {
    background-color: #e0e0e0;
}


.formulaireDevis .modalDevis .filterButton.active {
    background-color: #007bff;
    color: white;
}

.formulaireDevis .modalDevis .filterButton.active:hover {
    background-color: #0056b3;
}


/* project ------------------------------------------------------------------------- */



.formulaireDevis .projectItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f0f0f0;
    gap: 0.5em;
    max-width: 100%;
    margin: 0.1em 1em;
    font-size: 1.5em;
    border-radius: 1em;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    padding-bottom: 0.5em;
    max-width: 350px;
}

.formulaireDevis .projectItem img {
    transition: 0.3s ease;
}


.formulaireDevis .projectItem:hover img {
    transform: scale(1.1);
}

.formulaireDevis .projectItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.formulaireDevis .modalProject .modalContent {
    max-width: 500px;
}



.formulaireDevis .modalContent {
    animation: modalOpenAnim 0.5s forwards;
}




.formulaireDevis .modalClose {
    animation: modalCloseDelay 0.2s forwards;
}

.formulaireDevis .modalClose .modalContent {
    animation: modalCloseAnim 0.2s forwards;
}

@keyframes modalOpenAnim {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    10% {
        opacity: 0;

    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalCloseDelay {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes modalCloseAnim {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0.3);
        opacity: 0;
    }
}