.modeleOutputField {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    gap: 1em;
    margin: 1em 0;
    font-size: 1.2em;
}

.modeleOutputField span {
    max-height: 200px;
    overflow: hidden;
    text-align: center;
}

.modeleOutputField span:last-child {
    border-radius: 1em;
}

.modeleOutputField span img {
    max-height: 200px;
    transition: transform 2s ease;
}

.modeleOutputField span img:hover {
    transform: scale(1.2);
}